body::-webkit-scrollbar {
    display: block;
}

::-webkit-scrollbar {
    width: 14px;
    height: 6px;
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #7088a0;
    opacity: 0.1;
}

::-webkit-scrollbar-track {
    background: rgba(200, 200, 200, 0.3);
}

.main {
    min-height: calc(100vh - 4rem - 104px);
}

.menu a {
    padding: 0.75rem 1rem;
}

.carousel-container {
    overflow: hidden;
}

.carousel-container .carousel-slide {
    display: flex;
    justify-content: center;
    height: 700px;
}

.carousel-container .carousel-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-container .carousel-slide img {
    width: 100%;
    vertical-align: top;
    border: 0;
    object-fit: cover;
}

.card figure img {
    max-width: 50%;
    max-height: 50%;
}

.card:hover figure img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.3s;
}

.card:not(:hover) figure img {
    transition: 0.2s ease-out;
}

.view_image {
    min-width: 20em;
}

@media screen and (max-width: 1024px) {
    .carousel-container .carousel-slide {
        height: 220px;
    }

    .carousel-container .carousel-slide .carousel-description {
        bottom: 0;
    }

    .carousel-container .control-arrow {
        display: none;
    }
}